version: "3.9"

services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://bookstore_y1nr_user:cqUakzIJB0IA4xbYUYLjSJ2fEGHKqHs8@dpg-d4s8hpngi27c73c4261g-a/bookstore_y1nr
      - SECRET_KEY=${SECRET_KEY:-change_me}
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: bookstore
      POSTGRES_PASSWORD: bookstore
      POSTGRES_DB: bookstore
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
